[user]
	email = 0h23k1.n40k1@gmail.com
	name = zeek0x
[core]
	editor = vim
[pager]
	branch = cat
	status = cat
	diff = less
	log = less
[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[alias]
	a = add
	ap = add -p
	b = branch
	c = commit
	cm = commit -m
	camd = commit --amend
	d = diff
	s = status
	co = checkout
	cob = checkout -b
	lg = log --all --graph --oneline --decorate
	poh = push origin HEAD
	unchanged-on = update-index --assume-unchanged
	unchanged-off = update-index --no-assume-unchanged
[ghq]
	root = ~/src
[include]
	path = ~/.gitconfig.local
[credential]
	helper = "!f() { /root/.vscode-server/bin/5d424b828ada08e1eb9f95d6cb41120234ef57c7/node /tmp/vscode-remote-containers-b6facb32f61758ae9ef4d028ff14f3831f163146.js $*; }; f"
